.tip-wrapper{
    padding:100px 0 20px;
    height:100%;
}

.single-services .site{
    height:auto;    
}
.single-services footer{
    position: static;
}

.tip-content{
    height:100%;
	padding:5px 5%
}

.tip-title{
    color:#fff;
    font-size:24px;
    text-align:center
}
.tip-content-wrapper{
    display:flex;
}
.tip-content-text{
    color:#fff;
    width:50%;
    padding:10px
}
.tip-content-img{
    width:50%;
    padding:20px 10px
}
.tip-content-img img{
    width:100%
}

@media screen and (max-width:768px){
    .tip-content-text, .tip-content-img{
        width:100%
    }
}